[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pygame = "*"
flask = "*"
sqlalchemy = "*"
flask-cors = "*"
flask-migrate = "*"
requests = "*"
pygame-textinput = "*"

[dev-packages]

[requires]
python_version = "3.8"
